<div class="summary">
    <div class="title">India Report Summary</div>
    <div class="dta-blocks-group">
        <div class="data-blocks">
            <div class="data-block-title">Total confirmed cases</div>
            <div class="data-block-value">{{ INData.TotalConfirmed }}</div>

        </div>
        <div class="data-blocks">
            <div class="data-block-title"> Total Recovery Cases </div>
            <div class="data-block-value">{{ INData.TotalRecovered }}</div>
        </div>
    </div>
    <div class="data-blocks">
        <div class="data-block-title"> Total Death Cases </div>
        <div class="data-block-value">{{ INData.TotalDeaths }}</div>
    </div>
    <div class="data-blocks">
        <div class="data-block-title"> new Conformed Cases </div>
        <div class="data-block-value">{{ INData.NewConfirmed }}</div>
    </div>
    <div class="data-blocks">
        <div class="data-block-title"> new Recovery Cases </div>
        <div class="data-block-value">{{ INData.NewRecovered }}</div>
    </div>