
.summary {
    width: 400px;
    float: left;
    margin: 10px;
    background-color: blue;
    text-align: center;
    border-radius: 5px;
    
}

.title{
    background :yellow;
    color :black;
    font-weight:bold;
    font-size: 25px;
    padding: 10px;
    border-bottom:solid black 2px;
    text-shadow: 1px 1px 1px white;
    
}
.data-blocks {
    background: red;
    padding: 8px;
    margin: 5px;
}
.data-block-title {
    
    text-shadow: 1px 1px 1px green;
}