<div style="clear: both;"></div>
<table border="1">
    <tr>
        <th>Total Country Name</th>
        <th>Total confirmed cases</th>
        <th>Total Death </th>
        <th>Total Recovery </th>


    </tr>
    <tr *ngFor="let data of allCountriesData">
        <td>{{data.Country}}</td>
        <td>{{ data.TotalConfirmed }}</td>
        <td>{{data.TotalDeaths}}</td>
        <td>{{data.TotalRecovered}}</td>
    </tr>

</table>>