<div>
    <app-summary [globalData]="globalData"></app-summary>
    <app-country [INData]="INData"></app-country>
    <app-allCountires [allCountriesData]="allCountriesData"></app-allCountires>
</div>